  @media (max-width: 768px) {
    .prueba {
      margin-top: 20px !important; 
    }
  }
  .Habilidades{
    color: #FFD700; 
    font-family: '8bits', sans-serif; 
    font-size: 16px;
  }

  img{
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
  }

  @media (max-width: 768px){
  .Figma{
    width: 32px !important;
  }
} 
@media (min-width: 1500px){
  .Figma{
    width: 64px !important;
  }
} 



